.home-main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.home-main section {
    text-align: center;
}

.home-main h1 {
    font-size: 96px;
    margin: 0 1em .5em;
}

.home-main p {
    width: 300px;
    margin: 0 auto 2.5em;
}

.home-main a {
    display: block;
    width: 15em;
    color: #EDEDED;
    background-color: #E01C40;
    padding: .5em 2.5em;
    border-radius: 15px;
    margin: 0 auto;
}

.home-main img {
    width: 549px;
    height: 583px;
}