.list-item {
    display: flex;
    align-items: center;
    font-size: 24px;
    margin-block: .75em;
}

.list-item::before {
    content: url(../../imgs/list-decoration.svg);
    margin-right: .5em;
}

.list-item:hover {
    color: #692d38;
    text-decoration: underline 2.5px;
    cursor: pointer;
}