POSTGRES_DATABASE = d8oios0u29ku4l
POSTGRES_USER = mttmdoxqzawumg
POSTGRES_PASSWORD = b3e2915b585f2a62c5052ddf4bdb30cab476b1db6fd64a6c681ca280b1ece8a5
POSTGRES_HOST = ec2-52-23-131-232.compute-1.amazonaws.com
API_PORT = 8080